:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  margin: 50px auto;
  width: 80vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
}
h1 {
  margin-top: 10px;
  color: teal;
}
input {
  height: 35px;
  width: 165px;
  background-color: #242424;
  border-radius: 5px;
  border: 1px solid black;
  padding: 16px;
  margin-left: 10px;
  margin-top: 40px;
}

.todo {
  margin-top: 15px;

  display: flex;
  align-items: baseline;
  max-width: 300px;
}
span {
  cursor: pointer;
  margin-right: 30px;
}

.doneBtn {
  width: 20px;
  height: 20px;
}

button {
  height: 30px;
  width: 60px;
  margin-top: 10px;
  cursor: pointer;
}
